.Navbar {
  background-color: #736351;
  display: flex;
  padding: 15px;
  font-family: sans-serif;
  color: white;
}

.Navbar__Link {
  padding-right: 50px;
  color: #FCE9A8;
  font-size: 16px;
  line-height: 21px;
}

.Navbar__Items {
  display: flex;
  margin: 20px 0px 0px 200px;
  ;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}





@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
    margin-left: 10px;
    font-size: 12px;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}
}