*{
	margin: 0;
	padding: 0;
}

.border {
	width: 1395px;
	height: 715px;
	border-width: 1px;
	border-style: solid;
	margin: 20px;

}
.tabel {
	background-color: grey;
	color: white;
	font-family: sans-serif;
	width: 380px;
	margin-left: 200px;
	padding: 10px;
	font-size: 20pt;
}

/* table */
.tables table {
	width: 374px;
	position: relative;
	border-collapse: collapse;
	margin-left: 226px;
	margin-top: 3px;
}
.tables thead {
	color: white;
	background-color: grey;
}
.tables thead tr th:nth-child(1) {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12pt;
	font-family: sans-serif;
	border: 1px solid darkgrey;
	font-weight: normal;
}
.tables thead tr th:nth-child(2) {
	text-align: left;
	padding-top: 2px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12pt;
	font-family: sans-serif;
	border: 1px solid darkgrey;
	font-weight: normal;
}
.tables thead tr th:nth-child(3) {
	color: white;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12pt;
	font-family: sans-serif;
	border: 1px solid darkgrey;
	font-weight: normal;
}
.tables tbody tr td:nth-child(1) {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid darkgrey;
	font-family: sans-serif;
}
.tables tbody tr td:nth-child(2) {
	padding-top: 2px;
	padding-bottom: 34px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid darkgrey;
	font-family: sans-serif;
}
.tables tbody tr td:nth-child(3) {
	padding-top: 2px;
	padding-bottom: 34px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid darkgrey;
	font-family: sans-serif;
}

.greentitle {
	margin-top: 40px;
	margin-left: 226px;
	color: springgreen;
	font-family: sans-serif;
	font-size: 20pt;
	font-weight: bold;
}

.garis1 {
	width: 300px;
	height: 3px;
	margin-left: 226px;
	background-color: springgreen;
}

.crosshead {
	margin-top: 12pt;
	margin-left: 226px;
	color: springgreen;
	font-size: 12pt;
	font-family: sans-serif;
	font-weight: bold;
}

.crossheadinden {
	margin-top: 3pt;
	margin-left: 240px;
	color: springgreen;
	font-size: 12pt;
	font-family: sans-serif;
	font-weight: bold;
	display: inline-block;
}

.sebelahcrosshead {
	display: inline-block;
	color: black;
	font-size: 12pt;
	font-family: sans-serif;
}
.bawahcrosshead {
	margin-top: 3pt;
	margin-left: 240px;
	color: black;
	font-size: 12pt;
	font-family: sans-serif;
}

.bullet {
	margin-left: 250px;
	margin-top: 2pt;
	font-family: sans-serif;
	font-size: 12pt;
}

.isi {
	margin-left: 226px;
	margin-top: 4pt;
	font-family: sans-serif;
	font-size: 12pt;
}

.kanan {
	float: left;
	margin-left: 920px;
	margin-top: -620px;
}

.bus {
	font-size: 18pt;
	font-weight: bold;
	font-family: sans-serif;
	text-align: right;


}
.number {
	font-size: 120px;
	font-weight: black;
	font-family: sans-serif;
	text-align: right;
}

.kotak {
	float: left;
	margin-left: 870px;
	margin-top: -450px;
}

.kotakungu {
	width: 210px;
	height: 75px;
	border-radius: 10px;
	background-color: thistle;
}

.isikotak {
	padding-top: 8pt;
	padding-left: 9pt;
	font-size: 12pt;
	font-family: sans-serif;
}

.route {
	float: left;
	margin-top: -370px;
	margin-left: 700px;
}

.routestitle {
	font-weight: bold;
	font-size: 15pt;
	font-family: sans-serif;
}

.garis2 {
	width: 378px;
	height: 3px;
	background-color: darkgrey;
}

.nomor {
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-right: 50px;
	font-size: 27pt;
	font-weight: bold;
	font-family: sans-serif;
	display: inline-block;	
}

.routes {
	margin-top: -120px;
	font-family: sans-serif;
	font-size: 12pt;
	display: inline-block;
}

.imagestyle {
	margin-left: 97pt;
	width: 25px;
	display: inline-block;



